body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #064789 0.59%, #BCD5F5 53.81%) 0 0 no-repeat padding-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 2vh;
}

.login-container {
    width: 100%;
}

.login-container > form {
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 60%;
    background: rgba(51, 75, 73, 0.96);
    border-radius: 25px;
    color: #BCD5F5;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
}

.login-container > form > p {
    width: 50%;
    padding: 1em;
    padding-bottom: 0;
    margin: 1em;
    margin-top: 0;
    margin-bottom: 0;

    text-align: left;
    font-size: 3vh;
}

.messages {
    font-size: 2.5vh;
    color: #BCD5F5;
}

button {
    background: #E5F0FF;
    border: 1px solid #000000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 25%;
    margin: 1em;

    line-height: 2.5em;
    text-align: center;
    color: #064789;

    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vh;
}

input {
    background: #E5F0FF;
    border: 1px solid #000000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 50%;
    padding: 1em;
    margin: 1em;
    margin-top: 0;
    height: 5vh;
    font-size: 2vh;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;

}

input::placeholder {
    font-size: 2vh;
}

.base-container {
    height: 100vh;
    background: transparent linear-gradient(180deg, #064789 0.59%, #BCD5F5 53.81%) 0 0 no-repeat padding-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main {
    height: 80vh;
    width: 90%;
    margin-bottom: 4vh;
    margin-top: 4vh;
    background: #334B49;
    border-radius: 25px;

    display: flex;
    justify-content: flex-start;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.right {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.5vh;
    overflow: auto;
    width: 50%;
}

footer {
    width: 100vw;
    height: 12vh;
    background: #334B49;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-logo {
    width: 20vw;
    margin-left: 2vh;
    margin-top: 1vh;
}

.profile-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1%;
    width: 19%;
}

.profile-link > p {
    color: #E5F0FF;
    text-align: center;
    font-size: 2vh;
    cursor: pointer;
}

.profile-link > img {
    cursor: pointer;
}

.small-logo > img {
    cursor: pointer;
}

@media only screen and (max-device-width: 440px) {
    * {
        font-size: 1.2vh;
    }

    .login-container > form {
        width: 80vw;
        margin: 0 10vw;
        height: 45vh;
        font-size: 1vh;
    }

    .login-container > form > p {
        width: 80vw;
        text-align: center;
    }

    .logo {
        height: 10em;
    }

    .logo > img {
        width: 100vw;
    }

    .profile-link > p {
        font-size: 1.2vh;
    }
}