<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/welcome.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.svg">
    <title th:text="${title}"></title>
</head>
<body>
<div class="base-container">
    <div class="logo">
        <img src="/img/logo.svg" alt="logo">
    </div>
    <div class="aboutus">
        <p th:text="| Welcome ${username} to SHIPify! Here we connect people based on their favorite music. Find your match today and meet someone who shares your love for music. Dont wait any longer, sign up and find your musical soulmate! |"></p>
    </div>
    <main>
        <h1>Log in or join now!</h1>
        <nav>
            <button onclick="window.location='login';">Log in</button>
            <button onclick="window.location='register';">Sign up</button>
        </nav>
    </main>
</div>
</body>
</html>